/LFR-ReaderQT/debug
/LFR-ReaderQT/release
/build-LFR-ReaderQT-Desktop_Qt_5_4_1_MSVC2013_64bit-Debug
/build-LFR-ReaderQT-Desktop_Qt_5_4_1_MSVC2013_64bit-Release
/LFR-ReaderQT/Makefile.Release
/LFR-ReaderQT/Makefile
/LFR-ReaderQT/Makefile.Debug
/LFR-ReaderQT/castle_uvst
/LFR-ReaderQT/frenchguy_mov
/LFR-ReaderQT/castle_cc
/LFR-ReaderQT/castle_png_uvst
/LFR-ReaderQT/castle_raw
/Cameras
/Images
/LFR-ReaderQT/raw_lfp_2015-06-11_0.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_1.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_10.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_100.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_101.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_102.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_103.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_104.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_105.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_106.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_107.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_108.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_109.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_11.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_110.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_111.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_112.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_113.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_114.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_12.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_13.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_14.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_15.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_16.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_17.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_18.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_19.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_2.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_20.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_21.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_22.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_23.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_24.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_25.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_26.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_27.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_28.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_29.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_3.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_30.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_31.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_32.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_33.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_34.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_35.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_36.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_37.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_38.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_39.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_4.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_40.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_41.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_42.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_43.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_44.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_45.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_46.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_47.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_48.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_49.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_5.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_50.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_51.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_52.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_53.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_54.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_55.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_56.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_57.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_58.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_59.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_6.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_60.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_61.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_62.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_63.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_64.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_65.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_66.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_67.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_68.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_69.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_7.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_70.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_71.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_72.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_73.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_74.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_75.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_76.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_77.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_78.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_79.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_8.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_80.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_81.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_82.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_83.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_84.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_85.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_86.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_87.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_88.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_89.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_9.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_90.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_91.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_92.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_93.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_94.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_95.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_96.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_97.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_98.jpg
/LFR-ReaderQT/raw_lfp_2015-06-11_99.jpg
/LFR-ReaderQT/Lytro
/LFR-ReaderQT/Lytro_focused
/LFR-ReaderQT/Neuer Ordner
/Neuer Ordner
/bunny_10deg_images
/bunny_3dsmax_rotated
/teapot_images
